body {
    background-color: whitergb(196, 196, 196);
    text-align: center;
}

.grid-container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 8rem);
    grid-template-rows: repeat(3, 8rem); 
    grid-auto-flow: row;
  }
.grid-item{
    border: 1px solid;
    color: rgb(255, 255, 255);
    font-size: 4rem;
    line-height: 2;
    text-align: center;
    padding: 1px;
    background-color: rgb(57, 168, 241);
  }